body{
    background-color: rgb(129, 186, 242);
}



h1{
    color: blue;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

hr{
    color:blueviolet;
    height: 10px;
    width: 50%;
    background-color: orange;
}


body {
    margin: 0;
    padding: 0;
    background-color: lightblue; 
}

.title {
    position: absolute;     
    padding: 15px;
    border: 10px solid black; 
    background-color: white; 
    font-size: 24px; 
    
}


#title1 {
    top: 250px; 
    left: 100px; 
}

#title2 {
    top: 450px; 
    left: 20px; 
}

#title3 {
    top: 650px; 
    left: 20px; 
}

.positioned-image {
    position:absolute;
    top: 50px;
    left: 400px;
}